app:
  server:
    host: "localhost"
    port: 8888
  jmeter:
    path: bin/jmeter
DB:
  dsn: "user=jmanager_user password=password dbname=jmanager_test sslmode=disable"
HTML:
  root: "app/view/html/"
  layout:
    root: "app/view/html/layout"
    base_html: "app/view/html/layout/base.html"
development:
    dialect: postgres
    datasource: dbname=jmanager user=jmanager_user password=passwword sslmode=disable
    dir: database/migrations
    table: migrations

