{{define "title"}}Run The Test{{end}}
{{define "content"}}
<div class="panel panel-default">
  <div class="container">
    <div class="panel-body mt-5">
      <form action="/run" method="post">
        <div class="form-group mt-4">
          <h4>General Information</h4>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="form-group mt-4">
          <h4>Test Scenario</h4>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="jmeter_path" placeholder="JMeter Path">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="script_path" placeholder="Script Path">
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" name="users" placeholder="Users">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="ramp_up" placeholder="Ramp Up">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="duration" placeholder="Duration">
          </div>
        </div>
        <div class="form-group mt-3">
          <input class="form-control" type="text" name="options" placeholder="Custom options">
        </div>
        <div class="form-group text-center mt-5">
          <button type="submit" class="btn btn-primary">Run Test!</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}
